name: Run coverage

on: [push, pull_request]

permissions:
  contents: read

jobs:
  coverage:
    runs-on: ubuntu-latest
    container:
      image: fedora:latest
      options: --privileged
    steps:
      - name: checkout
        uses: actions/checkout@v4
        with:
          # needed for codecov
          fetch-depth: 0
      - name: Install tools
        run: |
          dnf install -y bats iptables iproute jq criu golang make
      - name: Run make coverage
        run: make coverage

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v4
        with:
          fail_ci_if_error: true
          file: .coverage/coverage.out
          token: ${{ secrets.CODECOV_TOKEN }}
          verbose: true
